# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs / coverage / test
*.log
*.pot
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/
.coverage.*

# Jupyter
.ipynb_checkpoints

# IDE / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
